[Desktop Entry]
Icon=system-shutdown
Name=Shutdown
Name[ar]=إطفاء الجهاز
Name[ast]=Apagar
Name[bg]=Изключване
Name[bs]=Ugasi
Name[ca]=Aturada
Name[ca@valencia]=Aturada
Name[cs]=Vypnout
Name[da]=Nedlukning
Name[de]=Herunterfahren
Name[el]=Κλείσιμο
Name[en_GB]=Shutdown
Name[es]=Apagar
Name[et]=Seiskamine
Name[fi]=Sammuta
Name[fr]=Arrêt
Name[ga]=Múchadh
Name[gl]=Apagado
Name[hr]=Isključivanje
Name[hu]=Leállítás
Name[is]=Slökkva á tölvunni
Name[it]=Spegnimento
Name[ja]=シャットダウン
Name[kk]=Сөндіру
Name[km]=បិទ
Name[lt]=Išjungti
Name[lv]=Izslēgt
Name[mai]=बन्न करू
Name[nb]=Slå av maskinen
Name[nds]=Utmaken
Name[nl]=Afsluiten
Name[nn]=Slå av
Name[pl]=Wyłączanie komputera
Name[pt]=Encerramento
Name[pt_BR]=Desligar
Name[ro]=Oprire
Name[ru]=Завершение работы
Name[si]=වසාදමන්න
Name[sk]=Vypnutie
Name[sl]=Izklop
Name[sq]=Fike
Name[sr]=Гашење
Name[sr@ijekavian]=Гашење
Name[sr@ijekavianlatin]=Gašenje
Name[sr@latin]=Gašenje
Name[sv]=Stäng av
Name[tr]=Kapat
Name[ug]=تاقا
Name[uk]=Вимкнути
Name[x-test]=xxShutdownxx
Name[zh_CN]=关机
Name[zh_TW]=關機

